/* @import "~@fullcalendar/core/index.css";
@import "~@fullcalendar/daygrid/index.css";
@import "~@fullcalendar/timegrid/index.css"; */

.profile-calendar {
    max-width: 900px;       
    margin: 20px auto;   
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 15px;
    font-family: 'Arial', sans-serif;
}
.fc-header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.fc-header-toolbar .fc-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 12px;
    font-size: 13px;
    cursor: pointer;
}

.fc-header-toolbar .fc-button:hover {
    background-color: #0056b3;
}

.fc-header-toolbar .fc-button-active {
    background-color: #0056b3;
}

.fc-event.rounded-event {
    border-radius: 25px !important;
    height: 100px !important;
    width: 100px !important;
}
.fc-timegrid-event .fc-event-main, .fc-daygrid-event .fc-event-main {
    padding: 26px 20px 0px !important;
}

