{% extends 'base.html.twig' %}

{% block title %}Albums (React){% endblock %}

{% block body %}
    <h1>Albums (React)</h1>

    {# Symfony UX React render controller - component name is AlbumsList (folder path inside assets/react/components) #}
    <div data-controller="symfony--ux-react--react"
         data-symfony--ux-react--react-component-value="AlbumsList"
         data-symfony--ux-react--react-props-value="{}">
    </div>

{% endblock %}
